* {
    margin: 0;
    padding: 0;
}

h2 {
    color: white;
    text-align: center;
    padding: 2%;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background: #34495e;
    flex-direction: column;
}

#topSection {
    width: 80%;
    margin: 0 auto;
}

#flags {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#flags img {
    width: 5%;
    margin: 1%;
    border: 0.5px solid white;
    justify-content: center;
}

#bottomSection {
    margin-top: 4%;
    margin-bottom: 2%;
}

ul {
    margin-left: 32vw;
    padding: 0 0 0 0;
    width: 35vw;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 25px 8px 12px 40px;
    background: #eee;
    font-size: 25px;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
    max-width: 546px;
}

ul li:nth-child(odd) {
    background: #bdc3c7;
}

ul li:hover {
    background: #2980b9;
}
